*
{
	font-family: sans-serif;
}
#bg1 
{
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
}
body
{
	background-color: lightgreen;
}
h1
{
	font-size: 45px;
}
a
{
	text-decoration: none;
	font-size: 25px;
}
hr
{
	height: 5px;
	width: 50%;
	background-color: black;
	border-radius: 5px;
}